@model VersionSearchViewModel
 
<div class="text-left">
    <form asp-controller="home" asp-action="SearchResults" method="get">
        <div>Enter Version Number:</div>
        <input asp-for="SearchTerm" placeholder="0.0.0.0"/>
        <br />
        <br />
        <input type="submit" class="btn btn-secondary" value="Search" />
    </form>

    @if (Model != null)
    {
        <br />
        <h3>Results for @Model.SearchTerm: @Model.SearchResults.Count()</h3>
        <br />
        if (Model.SearchResults.Count() > 0)
        {
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Software Name</th>
                        <th scope="col">Version</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.SearchResults)
                    {
                        <tr>
                            <td>@row.Name</td>
                            <td>@row.Version</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    }
</div>
